<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>--BB3Blog--</title>
    <link rel="stylesheet" href='../csstoken/index.dce17817.css'>
</head>

<body class="overflow-x-hidden">
    <div class="content bg-gray-700 pt-[0vh]">
        <figure class="flex justify-center relative">
            <img src="../assets/imgs/large.3d5cf644.png" alt="" class="mt-1 w-[5rem] h-[5rem] rounded-full">
        </figure>
        <h2 class="text-lg text-center text-yellow-600">--BB3Blog-- (Explore Everything with Courage)</h2>
    </div>
    <main class=" flex flex-col">
        <nav class="h-20 w-[100%] bg-[#727a67] gap-3 md:flex md:items-center md:justify-between lg:h-14">
            <ul class="flex gap-3 mt-3 ml-0 justify-center">
                <li class="mx-3 hover:text-orange-300"><a href="/templates/index.html">Home</a></li>
                <li class="mx-3 hover:text-orange-300"><a href="#">About Us</a></li>
                <li class="mx-3 hover:text-orange-300"><a href="#">Contact Us</a></li>
                <li class="mx-3 hover:text-orange-300"><a href="/templates/index3.html">Blogs</a></li>
                <!-- <li><a href=""></a></li> -->
                
            </ul>
            <div class="search text-center mt-2 md:mr-2">
                <form action="" class = "flex justify-center flex-row gap-3 md:h-auto md:w-auto" method="get">
                    <input type="search" placeholder="Search" class="w-32 md:h-6 md:rounded-sm">
                    <button type="submit" class="border-2 rounded-sm p-[1px]   border-slate-500 bg-blue-700 hover:bg-green-300 md:h-6 font-bold  md:text-xs md:rounded-md">Submit</button>
                </form>

                <!-- login in here -->
                
            </div>
            
        </nav>
    </main>




    
    <!-- up there is a main section which will be loaded in here so we are going to remove because we dont want extra css class and also we are going to load it using django and tommorow is a django practice in her so best of luck yeah  -->


    <!-- this is a section of blog in here -->





    <!-- main section is here and also in jangi we will also work as the  -->
    <div class="px-2 flex justify-center">
        <section class="main-section flex flex-col justify-center mt-3 xl:grid xl:place-items-center">
            <!-- this is my modal working in here without any of the defaults in here -->


            <!-- now starting the modals formation in here and designing the modals here -->
            
                <dialog class="java backdrop-brightness-105 bg-[#625c5c] h-[32vh] rounded-md [box-shadow:rgba(0,1px,1px,0.6)] md:h-[42vh] md:w-[39vw] ">
                    <form action="#" class = "flex flex-col justify-center items-center">
                        <span class="font-semibold mb-2">Login/Sign Up to read more content in here</span>
                        <span class="font-bold">Username:</span><input class="mt-1 rounded-sm" type="text" placeholder="Enter email here">
                        <span class="font-bold">Password:</span><input class="mt-1 rounded-sm" type="password" erequired placeholder="enter your password">
                        <button type="submit" class="block bg-blue-500 px-1 rounded-sm hover:bg-blue-700 mt-4 mb-4">Login</button>

                        <!-- this is so called here in here so that we can follow it all in this universe here -->

                        <span class="mx-5">New to --BB3Blog-- <a class = "text-blue-500 underline" href="./index4.html">Sign Up</a> to become part of --BB3Blog-- Family!!</span>
                        <!-- do not have the  -->
                    </form>
                </dialog>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->


            <!-- eding of javadiv in here -->
            <!-- this is so informa tive here -->
            <!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <div class="main-content transition ease-linear mt-5 bg-slate-500 shadow-md hover:shadow-lg hover:translate-y-[-2%] xl:w-[80%] xl:flex xl:justify-center relative">
                <div class="w-[100vw] xl:relative flex flex-col items-center">
                    <img src="/assets/imgs/repl.jpg" class = "xl:absolute xl:h-[100%] object-cover xl:w-[100%] xl:aspect-video" alt="i am a disco dance oo oooo o">

                </div>
                <div class="content mx-4 xl:w-[303%]">
                    <h2 class="text-2xl text-center mt-1">Environmental Problems</h2>
                    <p class="answer mt-1">
                       
                    Bill Gates joined us at TechCrunch Sessions: Climate 2022 last week to discuss his priorities in terms of investment projects and technological breakthroughs needed to effectively address climate change. Gates provided an updated picture of where we’re at compared to the context in which he wrote and published his 2021 book, “How to Avoid a Climate Disaster.”Gates started off by providing his thoughts on the relative performance metrics of the world as it faced another global threat — the ongoing COVID-19 pandemic:
                    </p>
                    <!-- ---- button section  -->

                    <div class="button-pack text-right mb-1 flex flex-row-reverse justify-between mt-5"> <a href = "/templates/mainblog/main1.html" role="button"  class="rounded-sm text-center bg-blue-500 p-1 hover:bg-blue-700 hover:text-white">Visit Article</a>
                        <div class="vote flex gap-5">
                            <div class="showbtn">
                                <button class="voo rounded-sm p-[0.4px] transition ease-in-out delay-150 bg-[#444b] ">Upvote</button>                                
                                <span class="show text-emerald-400"></span>
                            </div>
                            
                            <div class="npm">
                                <button class="dislike rounded-sm p-[0.4px] bg-[#444b] transition ease-in-out delay-150 ">Downvote</button>
                            </div>
                            
                        </div>  
                    </div>
                </div>

                
                <!-- there are my upvote and fownvote buttons in here -->         
            </div>

            <div class="main-content transition ease-linear mt-5 bg-slate-500 shadow-md hover:shadow-lg hover:translate-y-[-2%] xl:w-[80%] xl:flex xl:justify-center relative">
                <div class="w-[100vw] xl:relative flex flex-col items-center">
                    <img src="../assets/imgs/p1.webp" class = "xl:absolute xl:h-[100%] object-cover xl:w-[100%] xl:aspect-video" alt="i am a disco dance oo oooo o">

                </div>
                <div class="content mx-4 xl:w-[303%]">
                    <h2 class="text-2xl text-center mt-1">Bill Gates offers guidance......</h2>
                    <p class="answer mt-1">
                        Environment is very good in this multiverse also i want some peoples here so that we can make the life extremely good using somme natural resorces in a good manner also we have to controll our population so that we can minimixe the dependence on the re................. this is my  that we can make the life extremely good using somme natural resorces in a good manner also we have to tibus eum repudiandae delectus... this is my  that we can make the life extremely good using somme natural resorces in a good manner also we have to tibus eum repudiandae delectus. Similique, vero maiores.
                    </p>
                    <!-- ---- button section  -->

                    <div class="button-pack text-right mb-1 flex flex-row-reverse justify-between mt-5"> <a href = "/templates/mainblog/index2.html" role="button"  class="rounded-sm text-center bg-blue-500 p-1 hover:bg-blue-700 hover:text-white">Visit Article</a>
                        <div class="vote flex gap-5">
                            <div class="showbtn">
                                <button class="voo rounded-sm p-[0.4px] transition ease-in-out delay-150 bg-[#444b] ">Upvote</button>                                
                                <span class="show text-emerald-400"></span>
                            </div>
                            
                            <div class="npm">
                                <button class="dislike rounded-sm p-[0.4px] bg-[#444b] transition ease-in-out delay-150 ">Downvote</button>
                            </div>
                            
                        </div>  
                    </div>
                </div>

                
                <!-- there are my upvote and fownvote buttons in here -->         
            </div>

       
            <div class="main-content transition ease-linear mt-5 bg-slate-500 shadow-md hover:shadow-lg hover:translate-y-[-2%] xl:w-[80%] xl:flex xl:justify-center relative">
                <div class="w-[100vw] xl:relative flex flex-col items-center">
                    <img src="/assets/imgs/bi1.webp" class = "xl:absolute xl:h-[100%] object-cover xl:w-[100%] xl:aspect-video" alt="i am a disco dance oo oooo o">

                </div>
                <div class="content mx-4 xl:w-[303%]">
                    <h2 class="text-2xl text-center mt-1">Hackers stole Social Security........</h2>
                    <p class="answer mt-1">
                        Flagstar Bank, one of the largest financial service providers in the United States, has notified more than 1.5 million customers of a data breach in which Social Security numbers were stolen — its second incident in two years.
                        In a letter sent to those affected, Michigan-headquartered Flagstar revealed that hackers breached its corporate network between December 3 and December 4, 2021. After an investigation, the bank discovered on June 2, 2022 that the threat actors accessed sensitive customer details. “Flagstar recently experienced a cyber incident that involved unauthorized access to our network,” the company said in the letter.</p>
                    <!-- ---- button section  -->

                    <div class="button-pack text-right mb-1 flex flex-row-reverse justify-between mt-5"> <a href = "/templates/mainblog/main2.html" role="button"  class="rounded-sm text-center bg-blue-500 p-1 hover:bg-blue-700 hover:text-white">Visit Article</a>
                        <div class="vote flex gap-5">
                            <div class="showbtn">
                                <button class="voo rounded-sm p-[0.4px] transition ease-in-out delay-150 bg-[#444b] ">Upvote</button>                                
                                <span class="show text-emerald-400"></span>
                            </div>
                            
                            <div class="npm">
                                <button class="dislike rounded-sm p-[0.4px] bg-[#444b] transition ease-in-out delay-150 ">Downvote</button>
                            </div>
                            
                        </div>  
                    </div>
                </div>

                
                <!-- there are my upvote and fownvote buttons in here -->         
            </div>
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->   

            <div class="main-content transition ease-linear mt-5 bg-slate-500 shadow-md hover:shadow-lg hover:translate-y-[-2%] xl:w-[80%] xl:flex xl:justify-center relative">
                <div class="w-[100vw] xl:relative flex flex-col items-center">
                    <img src="/assets/imgs/p3.webp" class = "xl:absolute xl:h-[100%] object-cover xl:w-[100%] xl:aspect-video" alt="i am a disco dance oo oooo o">

                </div>
                <div class="content mx-4 xl:w-[303%]">
                    <h2 class="text-2xl text-center mt-1">Validio, a data quality platform........</h2>
                    <p class="answer mt-1">
                        Data quality has been shaping up as a salient and increasingly critical part of the world of data science: enterprises are sitting on growing troves of information, but it’s only useful if we can trust it to be accurate and usable. To that end, Validio, a startup building tools to improve and ensure data quality — specifically with tools that let users clean up data both stored in data warehouses and elsewhere, as well as in real-time — is announcing a seed round to mark its emergence from stealth. The Stockholm-based company has raised $15 million, funding that it plans to use for business and product development, R&D and to hire more talent. Lakestar — the London-based VC that made early investments in companies like Facebook and Airbnb but has largely focused on backing promising-looking startups out of Europe (it also backed Skype, Spotify, Revolut and many others) — led this round, with J12 and several high profile individuals also participating.</p>
                    <!-- ---- button section  -->

                    <div class="button-pack text-right mb-1 flex flex-row-reverse justify-between mt-5"> <a href = "/templates/mainblog/main3.html" role="button"  class="rounded-sm text-center bg-blue-500 p-1 hover:bg-blue-700 hover:text-white">Visit Article</a>
                        <div class="vote flex gap-5">
                            <div class="showbtn">
                                <button class="voo rounded-sm p-[0.4px] transition ease-in-out delay-150 bg-[#444b] ">Upvote</button>                                
                                <span class="show text-emerald-400"></span>
                            </div>
                            
                            <div class="npm">
                                <button class="dislike rounded-sm p-[0.4px] bg-[#444b] transition ease-in-out delay-150 ">Downvote</button>
                            </div>
                            
                        </div>  
                    </div>
                </div>

                
                <!-- there are my upvote and fownvote buttons in here -->         
            </div>
    </section>
    </div>
    <!-- designning the footer in here and next process would make web responsive in here -->
    <footer class="foot w-[100%] bg-black h-[34vh] mb-0 mr-0">
        <h2 class="text-2xl text-white text-center pt-">This is the big footer</h2>
    </footer>
</body>

<script>
    // document.querySelector('.vaja').close();
// script strats today from here onwards 
// accessing various buttons in here
    let a;
    // document.querySelector('.java').close();
    let b = document.getElementsByClassName('voo');
    let k = document.getElementsByClassName('dislike')
    let mob = document.getElementsByClassName('button-pack');
    let loopval = 0;
    let poopval = 0;
    for (let i = 0; i < b.length; i++) {
        const e = b[i];
        e.classList.add(`l${loopval + 1}`);
        loopval++;
    }
    // for the downvote button in here

     for (let i = 0; i < k.length; i++) {
        const elem = k[i];
        elem.classList.add(`op${poopval + 1}`);
        poopval++;
    }
    // using some old and classic logic we can esily defy some of the work in here
    // using the logic of loopval and poopval in here

     let on = false;

    for (let i = 0; i < b.length; i++) {
        let amber = document.getElementsByClassName(`l${i+1}`);
        console.log(amber);
        let bomber = document.getElementsByClassName(`op${i+1}`);
        console.log("this is",bomber);
        for (let j = 0; j < amber.length; j++) {
            const elee = amber[j];
            elee.addEventListener('click',()=>{
                elee.classList.toggle('bg-green-500');
                if(on == false){
                   bomber[0].classList.remove('bg-red-400');
                   on = true;
                }
            })
        }
        for (let i = 0; i < bomber.length; i++) {
            const mle = bomber[i];
            mle.addEventListener('click',()=>{
                mle.classList.toggle('bg-red-400');
                if(on == true){
                    amber[0].classList.remove('bg-green-500')
                    on = false;
                }
            })
        }
    }
    // end of code in here

    // dailog box logic has been written in here
    // ---------------------------------------------------------------------------------------------------------------------------------------------------------  here it is the work of dialog box------------
    
//   driving the logic in here so that we can make it an awesome revolt 
    // timeout function is written over here 


        // ---------------------------------------------------------------

    // const timeout = setTimeout(start,600);

    // function start(){
    //     document.querySelector('.java').showModal();
    // }
    // this is for activating the main dialog box for sign up and login in here
</script> 
</html>