<!-- improvements in all the pages that we have created using the tailwind css in here -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
  <link rel="stylesheet" href="/csstoken/index.00262c3a.css">
</head>

<style>
    @media screen and (max-width:487px) {
        .pes {
            height: 22vh;
        }
    }

    @media screen and (min-width:738px) {
        .res {}

        .pes {
            height: 23vh;
        }

        .absres {
            display: flex;
            height: 21vh;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (min-width:910px) {
        .res p {
            /* margin-top: 3rem; */
        }

        .pes {
            height: 22vh;
            width: 63vw;
        }

        .absres {
            display: flex;
            height: 21vh;
            justify-content: center;
            align-items: center;
        }

        .button-pack {
            text-align: center;
            margin-top: 3px;
            padding-bottom: 3px;

        }
    }

    /* @media screen and (min-width:) {
        
    } */
</style>

<body>
    <div class="content bg-gray-700 pt-[0vh]">
        <figure class="flex justify-center relative">
            <img src="../assets/imgs/large.3d5cf644.png" alt="" class="mt-1 w-[5rem] h-[5rem] rounded-full">
        </figure>
        <h2 class="text-lg text-center text-yellow-600">--BB3Blog-- (Explore Everything with Courage)</h2>
    </div>
    <main class=" flex flex-col">
        <nav class="h-20 w-[100%] bg-[#727a67] gap-3 md:flex md:items-center md:justify-between lg:h-14">
            <ul class="flex gap-3 mt-3 ml-0 justify-center">
                <li class="mx-3 hover:text-orange-300"><a href="/templates/index.html">Home</a></li>
                <li class="mx-3 hover:text-orange-300"><a href="#">About Us</a></li>
                <li class="mx-3 hover:text-orange-300"><a href="#">Contact Us</a></li>
                <li class="mx-3 hover:text-orange-300"><a href="/templates/index3.html">Blogs</a></li>
                <!-- <li><a href=""></a></li> -->  
            </ul>
            <div class="search text-center mt-2 md:mr-2">
                <form action="" class="flex justify-center flex-row gap-3 md:h-auto md:w-auto" method="get">
                    <input type="search" placeholder="Search" class="w-32 md:h-6 md:rounded-sm">
                    <button type="submit"
                        class="border-2 rounded-sm p-[1px] text-black font-bold border-slate-500 bg-blue-700 hover:bg-green-300 md:h-6  md:text-xs md:rounded-md">Submit</button>
                </form>

                <!-- login in here -->

            </div>

        </nav>
    </main>

    <div class="cont bg-[whitesmoke] flex  justify-center mt-5 py-3">
        <!-- writting some important here -->
        <!-- main writting content in here -->


        <div class="content-box bg-[#e7e3e3bb] w-[93%]">
            <h2 class="text-4xl text-center mt-5 mb-3">--BB3Blog--</h2>
            <div class="context flex flex-col justify-center">

                <p class="px-4 pb-3">Welcome to --BB3Blog-- here we provide many blogs also we provide theforum to
                    exchangee the views and section to ask some questions also u can post your own blog using some of
                    images restrictions to this site also it will be beneficial for you to exchange your idea ask
                    questions and to have an attractive eaasy type blog in here</p>
            </div>
            <div class="button-pack mb-3 ml-3 "> <a href="/templates/index3.html" role="button"
                    class="rounded-sm text-center bg-blue-500 p-1 hover:bg-blue-700 hover:text-white">Go To Blog</a>
            </div>
        </div>
    </div>

    <!-- blog box -->
    <main class="blog-template">
        <div class="whit">
            <h1 class="text-3xl text-left ml-2 mt-2 font-semibold">The Latest</h1>
            <div class="sm-card m-3 rounded-sm bg-[#e1dddd] h-[19vh] flex justify-center pes">

                <!-- in this we have to use the values like in div -->

                <div class="short-content mt-2 res">
                    <p class="font-bold ml-2"><a href="#"> is the best card in this universe which i am going to produc
                            in here also i want to make this blog accessible in this blog eac </a></p>
                    <!-- <br class="mb-2"> -->
                    <span class="author block font-sans font-semibold ml-2 mt-3">*By Chris Malhan</span>
                </div>

                <div class="absres relative w-96 h-56 mt-2 mr-1">
                    <img src="../assets/imgs/repl.jpg" alt="" class="absolute xl:h-[19vh]">
                </div>

            </div>

            <div class="sm-card m-3 rounded-sm bg-[#e1dddd] h-[19vh] flex justify-center pes">

                <!-- in this we have to use the values like in div -->

                <div class="short-content mt-2 res">
                    <p class="font-bold ml-2"><a href="#"> is the best card in this universe which i am going to produc
                            in here also i want to make this blog accessible in this blog eac </a></p>
                    <!-- <br class="mb-2"> -->
                    <span class="author block font-sans font-semibold ml-2 mt-3">*By Chris Malhan</span>
                </div>

                <div class="absres relative w-96 h-56 mt-2 mr-1">
                    <img src="../assets/imgs/repl.jpg" alt="" class="absolute xl:h-[19vh]">
                </div>

            </div>
        </div>
    </main>
</body>

</html>



<!-- 
    task to be done in here or remaining here which we can do here\
    *Upload the favicon and the logo in here 
    *upload the image in here and 
 -->