<!-- making an user page in here just like that in here -->
<!DOCTYPE html>
<html lang="en" class="overflow-x-hidden">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>--BB3BLOG-- User page</title>
    
  <link rel="stylesheet" href="../csstoken/index.ccfabaea.css">
</head>
<style>
.bg-767676{
    background-color: #767676;
}
</style>
<body>
    <!-- 1 a basic page need to show up in here like this  -->
    <div class="flex flex-col">
        <nav class="h-20 w-[100vw] bg-767676 gap-3 md:flex md:items-center md:center lg:h-14">
            <ul class="flex gap-3 mt-5 justify-center items-center">
                <li class="mx-3 hover:text-orange-300 mt-3 md:mt-0"><a href="/templates/index.html">Home</a></li>
                <li class="mx-3 hover:text-orange-300 mt-3 md:mt-0"><a href="#">About Us</a></li>
                <li class="mx-3 hover:text-orange-300 mt-3 md:mt-0"><a href="/templates/index6.html">Wirte Blog</a></li>
                <li class="mx-3 hover:text-orange-300 mt-3 md:mt-0"><a href="#">LogOut</a></li>
                <!-- <li><a href=""></a></li> -->
                <!-- we are using the sam ecomponent in here like this and just like that in here -->
            </ul>
        </nav>
    </div>
    <!-- above is the main and nav section in here -->
    <main class="page md:flex md:flex-col md:items-center md:justify-center">
        <div class="contain flex mt-3 ">
            <figure class="relative w-[9.623rem] h-[8.3rem] flex flex-col justify-center items-center">
                <img src="../assets/imgs/image.b2a257dc.jpg" alt="this is prike image in here" class="rounded-full object-contain absolute w-[6.3rem] h-[6.3rem] md:mb-5">
            </figure>
            <div class="hcont">
                <h2 class="ml-2 mt-3 font-semibold">USERNM</h2>
                <p class="font-serif ml-2">TAGLINE IS MY GOAL AND I AM ITSELF A TAGLINE</p>
                <div>
                    <span class="ml-2 font-sans"> 240 <a href="#">following</a></span>
                    <span class="ml-2 font-sans"> 79 <a href="#">followers</a></span>
                </div>
            </div>
        </div>
        <div class="downdivme p-5 md:w-[83vw]">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A facilis maiores laudantium tempore placeat enim eum earum voluptates quam ipsam fuga at animi, asperiores, aspernatur tenetur culpa porro, repudiandae unde sed ipsa saepe inventore. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus incidunt, perferendis, totam ducimus quae odit quia cumque neque dolore perspiciatis illo repellendus repellat maxime doloremque sint iusto? Voluptatum, ea et. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat magni consectetur maxime repellendus repudiandae vel sapiente, minima nam aliquid quasi, qui quam modi, cum suscipit. Dolor similique laborum reprehenderit ducimus.</p>
        </div>
        <!-- this is under contruction here it will come after some time in here -->
        <div class="credential-higlights">

        </div>
        <!-- this upper section is under contruction in here -->

        <!-- this is an hr based class which will pull an horizontal line in here -->
        <div class="upper w-[100%] flex justify-center items-center">
            <div class="hr-contain w-[90%] bg-red-900 font-bold mt-4 mb-5">
                <hr class="bg-red-800">
                <hr class="bg-red-800">
                <hr class="bg-red-800">
                <hr class="bg-red-800">
            </div>
        </div>
        <!-- upside this is an line based on the hr which here means  -->
        <!-- these are my posts that i have hiven in here also we will use that posts in here -->
    </main>
    <!-- making an new div in here -->



    <div class="px-2 flex justify-center">
        <section class="main-section flex flex-col justify-center mt-3 xl:grid xl:place-items-center">
            <!-- javadiv so that we can easily use it in here -->
            <!-- this is the main class here and also here we can make it possibly a box in here -->
            <!-- main class of this center in box-container000 -->
            <!-- this is my modal working in here without any of the defaults in here -->
            <!-- now starting the modals formation in here and designing the modals here -->
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->
            <!-- eding of javadiv in here -->
            <!-- this is so informa tive here -->
            <!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <div class="main-content transition ease-linear mt-5 bg-slate-500 shadow-md hover:shadow-lg hover:translate-y-[-2%] xl:w-[80%] xl:flex xl:justify-center relative">
                <div class="w-[100vw] xl:relative">
                    <img src="../assets/imgs/p2.jpg" class = "xl:absolute xl:h-[100%] object-cover xl:w-[100%] xl:aspect-video" alt="i am a disco dance oo oooo o">

                </div>
                <div class="content mx-4 xl:w-[303%]">
                    <h2 class="text-2xl text-center mt-1">Environmental Problems</h2>
                    <p class="answer mt-1">
                        Environment is very good in this multiverse also i want some peoples here so that we can make the life extremely good using somme natural resorces in a good manner also we have to controll our population so that we can minimixe the dependence on the re................. this is my  that we can make the life extremely good using somme natural resorces in a good manner also we have to tibus eum repudiandae delectus... this is my  that we can make the life extremely good using somme natural resorces in a good manner also we have to tibus eum repudiandae delectus. Similique, vero maiores.
                    </p>
                    <!-- ---- button section  -->

                    <div class="button-pack text-right mb-1 flex flex-row-reverse justify-between mt-5"> <a href = "#" role="button"  class="rounded-sm text-center bg-blue-500 p-1 hover:bg-blue-700 hover:text-white">Visit Article</a>
                        <div class="vote flex gap-5">
                            <div class="showbtn">
                                <button class="voo rounded-sm p-[0.4px] transition ease-in-out delay-300 bg-[#444b] ">Upvote</button>

                                <span class="show text-emerald-400"></span>
                            </div>
                            
                            <div class="npm">
                                <button class="dislike  rounded-sm p-[0.4px] transition ease-in-out delay-300 bg-[#444b] ">Downvote</button>
                            </div>
                            
                        </div>  
                    </div>
                </div>
                <!-- there are my upvote and fownvote buttons in here -->         
            </div>

            <div class="main-content transition ease-linear mt-5 bg-slate-500 shadow-md hover:shadow-lg hover:translate-y-[-2%] xl:w-[80%] xl:flex xl:justify-center relative">
                <div class="w-[100vw] xl:relative">
                    <img src="../assets/imgs/p2.jpg" class = "xl:absolute xl:h-[100%] object-cover xl:w-[100%] xl:aspect-video" alt="i am a disco dance oo oooo o">

                </div>
                <div class="content mx-4 xl:w-[303%]">
                    <h2 class="text-2xl text-center mt-1">Environmental Problems</h2>
                    <p class="answer mt-1">
                        Environment is very good in this multiverse also i want some peoples here so that we can make the life extremely good using somme natural resorces in a good manner also we have to controll our population so that we can minimixe the dependence on the re................. this is my  that we can make the life extremely good using somme natural resorces in a good manner also we have to tibus eum repudiandae delectus... this is my  that we can make the life extremely good using somme natural resorces in a good manner also we have to tibus eum repudiandae delectus. Similique, vero maiores.
                    </p>
                    <!-- ---- button section  -->

                    <div class="button-pack text-right mb-1 flex flex-row-reverse justify-between mt-5"> <a href = "#" role="button"  class="rounded-sm text-center bg-blue-500 p-1 hover:bg-blue-700 hover:text-white">Visit Article</a>
                        <div class="vote flex gap-5">
                            <div class="showbtn">
                                <button class="voo rounded-sm p-[0.4px] transition ease-in-out delay-300 bg-[#444b] ">Upvote</button>

                                <span class="show text-emerald-400"></span>
                            </div>
                            
                            <div class="npm">
                                <button class="dislike  rounded-sm p-[0.4px] transition ease-in-out delay-300 bg-[#444b] ">Downvote</button>
                            </div>
                            
                        </div>  
                    </div>
                </div>
                <!-- there are my upvote and fownvote buttons in here -->         
            </div>
            
            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->   
    </section>
    </div>
</body>

<script>
    // document.querySelector('.vaja').close();
// script strats today from here onwards 
// accessing various buttons in here
    let a;
    // document.querySelector('.java').close();
    let b = document.getElementsByClassName('voo');
    let k = document.getElementsByClassName('dislike')
    let mob = document.getElementsByClassName('button-pack');
    let loopval = 0;
    let poopval = 0;
    for (let i = 0; i < b.length; i++) {
        const e = b[i];
        e.classList.add(`l${loopval + 1}`);
        loopval++;
    }
    // for the downvote button in here

     for (let i = 0; i < k.length; i++) {
        const elem = k[i];
        elem.classList.add(`op${poopval + 1}`);
        poopval++;
    }
    // using some old and classic logic we can esily defy some of the work in here
    // using the logic of loopval and poopval in here

     let on = false;

    for (let i = 0; i < b.length; i++) {
        let amber = document.getElementsByClassName(`l${i+1}`);
        console.log(amber);
        let bomber = document.getElementsByClassName(`op${i+1}`);
        console.log("this is",bomber);
        for (let j = 0; j < amber.length; j++) {
            const elee = amber[j];
            elee.addEventListener('click',()=>{
                elee.classList.toggle('bg-green-500');
                if(on == false){
                   bomber[0].classList.remove('bg-red-400');
                   on = true;
                }
            })
        }
        for (let i = 0; i < bomber.length; i++) {
            const mle = bomber[i];
            mle.addEventListener('click',()=>{
                mle.classList.toggle('bg-red-400');
                if(on == true){
                    amber[0].classList.remove('bg-green-500')
                    on = false;
                }
            })
        }
    }
</script> 
</html>

<!-- today i think will try to start the most important thing in here such as the django -->